.blogs-list {
    list-style: none;
    margin: 0 20vw;
    color: #D8C4B6;
}

.list-item {
    margin: 2rem 0 2rem 1rem;
}


.blog-description {
    margin: 1rem 0;
}

.blog-title {
    text-decoration: none;
    font-size: 2rem;
    color: #E3F0AF;
}

.blog-date {
    color: #D8C4B6;
}

.blog-tag {
    color: #FF9494;

}

.blog-summary {
    margin: 1rem 0 1rem 0.5rem;
    color: #FFF8E6;
}


/*      blog-post       */
.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10vw;

    font-family: "BlogPostFont1";
}

.blog-post-info {
    align-self: flex-start;
    margin: 0 1rem;
}

.post-title {
    font-style: italic;
    font-size: 2rem;
    margin: 1rem 0;
}

.post-content {
    font-size: 1.2rem; /* for BlogPostFont1 */
    /* font-size: 1.2rem; JetBrains-Mono */
    margin: 1rem 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

.post-content p {
    margin: 0.5rem 1rem 1rem 1rem;
}

.post-content a {
    color: #FF9494;
}

.post-content img {
    max-width: 50%;
    align-self: center;
}

.project-cover {
    max-width: 100%;
    max-height: 360px;
    display: block;
}

.project-cover:hover {
    max-width: 100%;
    max-height: 360px;
    display: block;
    border: 1px solid #D8C4B6;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
    margin: 1rem 0;
}

/*      Weird Shit Below    */
/* for some reason ul and ol doesn't have the same padding and margin*/
.post-content li,
.post-content ul{
    margin: 0 1rem;
}

.post-content ol{
    margin: 0 2rem;
}

