:root {
    --hompage-background: #0D0D0D;

    --default-site-text-color: #D9CEAD;

    /* Homepage Scrolling Text */
    --hompage-scrolling-text-bg: #595334;
    --hompage-scrolling-text-fg: #BFB4B4;

    /* Blog post list */
    --blog-post-list-text: #D8C4B6;
    --blog-post-list-large-date: #BFB4B4;
    --blog-post-list-title: #D9CA82;
    --blog-post-list-date: #BFB4B4;
    --blog-post-list-tags: #D9CA82;
    --blog-post-list-summary: #D9CEAD;


    /* Blog post */
    --blog-post-link: #D9CA82;

    /* Projects page */
    --project-post-img-hover: #D8C4B6;
    --project-post-content-li-code-color: #bccca3;

    /* Footer */
    --footer-bg: #D9CA82;
    --footer-link: #000000;

    /* Header */
    --header-title: #222831;
    --header-bg: #D9CA82;
    --header-link-hover: white;
    --header-link-fg: black;
    --header-link-text: #222831;

    /* Homepage */
    --homepage-top-link: #FBB4A5;

    --homepage-social-link: var(--header-bg);
    --homepage-social-link-hover: #d6bbb5;
    --homepage-social-link-visited: #8b4b8b;

    --homepage-bottom-box-border: var(--header-bg);

    /* Page */
    --page-bg: #0D0D0D;

    /* Small Disp */
    --mobile-footer-link: #D9CA82;
    --mobile-header-link: #D9CA82;

    /* Image page */
    --image-post-info: #D9CA82;
    --image-post-caption: #D9CEAD;
    --image-post-bg: #0D0D0D;

    /* Music Player Page */
    --player-bg: #000000;
    --player-description: #D9CA82;
    --player-vol: #D9CA82;

}
