:root {
    --hompage-background: #040D03;

    --default-site-text-color: #F2F2F2;

    /* Homepage Scrolling Text */
    --hompage-scrolling-text-bg: #8C1129;
    --hompage-scrolling-text-fg: #F2C0A2;

    /* Blog post list */
    --blog-post-list-text: #F2F2F2;
    --blog-post-list-large-date: #F2C0A2;
    --blog-post-list-title: #F272AE;
    --blog-post-list-date: #BFB4B4;
    --blog-post-list-tags: #F2C0A2;
    --blog-post-list-summary: #F2F2F2;


    /* Blog post */
    --blog-post-link: #F2C0A2;

    /* Projects page */
    --project-post-img-hover: #D8C4B6;
    --project-post-content-li-code-color: #bccca3;



    /* Header */
    --header-title: #8C1132;
    --header-bg: #F2C0A2;
    --header-link-hover: white;
    --header-link-fg: black;
    --header-link-text: #8C1132;

    /* Footer */
    --footer-bg: var(--header-bg);
    --footer-link: var(--header-link-text);    
    
    /* Homepage */
    --homepage-top-link: #FBB4A5;

    --homepage-social-link: var(--header-bg);
    --homepage-social-link-hover: #d6bbb5;
    --homepage-social-link-visited: #8b4b8b;

    --homepage-bottom-box-border: var(--header-bg);

    /* Page */
    --page-bg: var(--hompage-background);

    /* Small Disp */
    --mobile-header-link: var(--header-bg);
    --mobile-footer-link: var(--mobile-header-link);
    
    /* Image page */
    --image-post-info: #F272AE;
    --image-post-caption: #F2F2F2;
    --image-post-bg: #0D0D0D;

    /* Music Player Page */
    --player-bg: #000000;
    --player-description: #F2C0A2;
    --player-vol: var(--player-description);

}