:root {
    --hompage-background: #171010;

    --default-site-text-color: #EEEEEE;

    /* Homepage Scrolling Text */
    --hompage-scrolling-text-bg: rgb(80, 50, 21);
    --hompage-scrolling-text-fg: #FBB4A5;

    /* Blog post list */
    --blog-post-list-text: #D8C4B6;
    --blog-post-list-large-date: #D8C4B6;
    --blog-post-list-title: #E3F0AF;
    --blog-post-list-date: #D8C4B6;
    --blog-post-list-tags: #FF9494;
    --blog-post-list-summary: #FFF8E6;

    /* Blog post */
    --blog-post-link: #FF9494;

    /* Projects page */
    --project-post-img-hover: #D8C4B6;
    --project-post-content-li-code-color: #bccca3;

    /* Footer */
    --footer-bg: #ECB176;
    --footer-link: #000000;

    /* Header */
    --header-title: #222831;
    --header-bg: #ECB176;
    --header-link-hover: white;
    --header-link-fg: black;

    /* Homepage */
    --homepage-top-link: #FBB4A5;

    --homepage-social-link: #FBB4A5;
    --homepage-social-link-hover: #d6bbb5;
    --homepage-social-link-visited: #8b4b8b;

    --homepage-bottom-box-border: #8b4b8b;

    --homepage-pnotify-btn-above-text: white;
    /* Page */
    --page-bg: #171010;

    /* Small Disp */
    --mobile-footer-link: #FBB4A5;
    --mobile-header-link: #FBB4A5;

    /* Image page */
    --image-post-info: #EFB036;
    --image-post-caption: aliceblue;
    --image-post-bg: rgba(0, 0, 0, 0.123);

    /* Music Player Page */
    --player-bg: #000000;
    --player-description: #F0BB78;
    --player-vol: #F0BB78;

}