/*      Footer      */
#footer {
    background-color: var(--footer-bg);
    padding: 1rem;
}

#footer footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#footer footer a {
    color: var(--footer-link);
    padding: 0 1rem;
}

#footer footer a span {
    color: #000000;
}
