/*      Mobile Device   */

@media (max-width: 450px) {
    #header {
        font-size: 0.8rem;
    }
    .header-title {
        font-size: 0.5rem;
    }
    #homepage .homepage-cover-pfp {
        width: 200px;
        height: 200px;
        /*
        width: 160px;
        height: 80px;
        */
    }
    .blog-summary {
        font-size: 0.6rem;
        line-height: 1.6;
    }
    .blog-description {
        font-size: 0.8rem;
    }
    #homepage {
        font-size: 80%;
    }

    #homepage .about-me h2 {
        padding: 1rem 0.5rem;
        font-family: "VT323";
        font-size: 2rem;
    }
    
    #homepage .about-me p {
        padding: 0.5rem;
        font-family: "VT323";
        font-size: 1.2rem;
    }

    #homepage .about-me .about-me-list ul {
        padding: 0 2rem;
        font-size: 1.2rem;
    }

    .post-content *{
        font-size: 80%;
    }

    .blog-post, .blogs-list {
        margin: 0 1rem !important;
    }

    .music-album img{
        width: 300px;
        height: 300px;
    }

    #footer {
        padding: 1rem;
    }
    #footer footer a {
        font-size: 0.6rem;
        padding: 0 0;
    }

    .navbar {
        display: none;
    }

    .navbar-phone {
        display: block;
		margin: 1rem;
		background-color: inherit;
	}
	.navbar-list {
		display: flex;
		gap: 1rem;
		list-style: none;
		justify-content: center;
        flex-wrap: wrap;
	}

	.navbar-list a {
		color: var(--mobile-header-link);
		text-decoration: none;

	}

    #footer {
        background-color: inherit;
    }

    #footer footer a {
        color: var(--mobile-footer-link);
        text-decoration: none;
    }

    .bookmarks-content{
        margin: 0.5rem 1rem 1rem 1rem;
        word-break: break-all;
    }

    .projects-content {
        width: 100%;
    }
    .projects-content pre{
        overflow: auto;
    }

    .post-content pre code span{
        font-size: 100%;
    }

    .post-title {
        font-size: 2.5rem;
    }
    .bookmarks-content li{
        margin: 0.5rem 0;
    }
    .bookmarks-content a {
        font-size: 100%;
        text-decoration: none;
        font-size: 1rem;
    }
    .bookmarks-content ul {
        list-style: lower-greek;
    }

    .onesignal-customlink-explanation.onesignal-reset {
        font-size: 1rem !important;
    }
}