* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BlogPostFont1";
    src: url("/fonts/SortsMillGoudy.ttf") format("truetype");
}

@font-face {
    font-family: "BlogPostFont2";
    src: url("/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "VT323";
    src: url("/fonts/VT323.ttf") format("truetype");
}

@font-face {
    font-family: "SourceSans3-Bold";
    src: url("/fonts/SourceSans3-Bold.ttf") format("truetype");
}




body {
    background-color: #171010;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "JetBrains Mono", sans-serif;
    color: #EEEEEE;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    display: flex;
    margin-top: 0.5rem;
    background-color: rgb(80, 50, 21);
}

.scroll-text {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

.scroll-text a {
    color: #FBB4A5;
}

@keyframes scroll {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 450px) {
    .scroll-container {
        display: inline-block;
        padding-left: 0%;
        animation: scroll-left 15s linear infinite;
        margin: 0.5rem 0 0 0;
        font-size: 0.8rem;
    }
}

